*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color:co;
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color:aquamarine;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    position: relative;
}
.inputbox{
    text-align: left;
}
label{
    font-weight: bold;
}
.card input{
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border-radius: 5px;
    border: none;
    margin: 15px 0;
    
}
 i{
    position: absolute;
    right: 20px;
    padding: 22px;
    z-index:1;
    
}
.card button{
    background-color: blue;
    padding: 10px 30px;
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 10px;
    font-size: 17px;
    
}
.regbtn{
    margin-bottom: 10px;
}
.subbtn{
    margin-top: 20px;
    width: 100%;
}
@media screen and (max-width:500px) {
    .container{
        padding: 20px;
    }
    .card{
        width: 100%;
    }
    
}