*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.webpage{
    width:100%;
    min-height: 650px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
}
.container{
    width:100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap:20px;
    background-color: blueviole;
}
.imgbox{
    width:300px;
    padding:40px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    flex-grow: 1;
}
img{
    height: 150px;
    width:150px;
    border-radius: 50%;

}
h2{
    margin: 10px 0px;
}
p{
    margin-bottom: 20px;
}
i{
    margin-right: 5px;
    font-size: 20px;
}
/* @media only screen and (min-width:320px) and (max-width:500px){
    .container{
        flex-direction: column;
        
    }
  
}
 @media only screen and (min-width:400px) and (max-width:1024px){
    .container{
        flex-direction: column;
    }
   .imgbox{
    width:70%;
   }
}
@media only screen and (min-width:1024px) and (max-width:1440px){
    .imgbox{
        width:20%
    }

}
@media only screen and (min-width:2400px) and (max-width:4000px){
   .imgbox{
    width:24%
   } 
   
}  */
