*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.content{
    position: absolute;
    padding: 20px;
    color: rgba(230, 226, 18, 0.973);
    font-size: 30px;
    font-family: 'Crimson Text', serif;
    font-family: 'Nosifer', sans-serif;
}
@media screen and (max-width:400px) {
    .content{
        font-size:20px
    }
    
}


