*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-color: beige;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}
.boxs{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.boxs:first-child{
    background-color: blue;
    position: absolut;
    animation-name: linear;
    animation-timing-function: linear;
}
@keyframes linear{
    0%{
        top: 20px;
        left: 20px;
        transform: rotate(0deg);
        
    }
    50%{
         left: 650px;
         top: 500px;
         transform: rotate(-360deg);
    }
    100%{
        top: 0px;
        left: 1200px;
        transform: rotate(360deg);
        
    }
}
.boxs:nth-child(2){
    background-color: brown;
    animation-name: ease;
    animation-timing-function: ease;
}

@keyframes ease{
    0%{
        top: 0px;
        left: 20px;
        transform: rotate(0deg);
        
    }
    50%{
         left: 650px;
         top: 400px;
         transform: rotate(-360deg);
    }
    100%{
        top: 10px;
        left: 1200px;
        transform: rotate(360deg);
        
    }
}
.boxs:nth-child(3){
    background-color: chartreuse;
    animation-name: ease-in;
    animation-timing-function: ease-in;
}
@keyframes ease-in{
    0%{
        top: 20px;
        left: 20px;
        transform: rotate(0deg);
        
    }
    50%{
         left: 650px;
         top: 300px;
         transform: rotate(-360deg);
    }
    100%{
        top: 20px;
        left: 1200px;
        transform: rotate(360deg);
        
    }
}
.boxs:nth-child(4){
    background-color: cyan;
    animation-name: ease-out;
    animation-timing-function: ease-in-out;
}
@keyframes ease-out{
    0%{
        top: 20px;
        left: 20px;
        transform: rotate(0deg);
        
    }
    50%{
         left: 650px;
         top: 200px;
         transform: rotate(-360deg);
    }
    100%{
        top: 30px;
        left: 1200px;
        transform: rotate(360deg);
        
    }
}
.boxs:nth-child(5){
    background-color: darkgoldenrod;
    animation-name: ease-in-out;
    animation-timing-function: ease-in-out;
}
@keyframes ease-in-out{
    0%{
        top: 20px;
        left: 20px;
        transform: rotate(0deg);
        
    }
    50%{
         left: 650px;
         top: 100px;
         transform: rotate(-360deg);
    }
    100%{
        top: 40px;
        left: 1200px;
        transform: rotate(360deg);
        
    }
}